<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Tickets</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save')">Salvar</button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(modalContent)">Tickets</button>