.btn-custom {
  background-color: #b9c512 !important;
  color: #000 !important;
  border: none !important;
}

.btn-custom:hover {
  background-color: #b61919 !important;
  color: #000 !important;
  box-shadow: none !important;
}